/*
Site: Quem quer carro
Agência: CG Online > http://www.cgonline.com.br
Codificador: Paulo Anderson > http://criei.com.br

*/

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');
/*font-family: 'Oswald', sans-serif;*/

/*HTML*/
/*** Rolagem da Vertical da Página ***/
::-webkit-scrollbar-thumb:vertical {
background:#FF6700; /*Cor da barrinha que se move*/
border: 1px solid #bgh; /*Coloque borda se quiser*/
height:50px;

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
/*** Rolagem da Horizontal da Página***/
::-webkit-scrollbar-thumb:horizontal {
background-color: #FF6700; /*Cor da barrinha que se move*/
border: 1px solid #bgh; /*Coloque borda se quiser*/
height:10px;

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 }
/*** Parte fixa da rolagem (fundo que não se move) ***/
::-webkit-scrollbar {
height:10px;
width:10px; /*Largura da barra de rolagem*/
 background:#000; /*Cor da parte fixa, que fica no mundo*/
border: 1px solid #bgh; /*Coloque borda se quiser*/
}

*{
	margin:0;
}

a, button, span, strong, li, p, i, img{
	ransition-property:;
	transition-duration: 0.5s;
	-webkit-transition-property:; /* Safari */
	-webkit-transition-duration: 0.5s; /* Safari */
}

body{font-family: 'Arial', sans-serif; overflow-x: hidden;}
body p{font-family: 'Oswald', sans-serif; font-weight: 300; font-size: 18px;}
body p strong{ font-weight: 400;}
/*LOGIN*/
#modal{padding:5px; background:rgba(0, 0, 0, 0.8);}
.modal-content{padding: 3.5%;}
.modal-content 	h4{ font-family: 'Oswald', sans-serif; text-align: center; padding-top: 20px;}
.relembrar{padding:15px 5px;float: left;width:100%; font-family: 'Oswald', sans-serif;}

.input-group-addon{background:#FF6700 !important; color: #fff !important; }
.clear{clear: both;}
/*HEAD*/
#head{background: url(../img/bg.jpg) #e2e3e4; background-size: cover; padding-top: 15px; padding-bottom: 15px;}
button{background: #ccc; color: #333; font-size: 18px; border:none; border-radius: 5px; padding: 10px 15px; font-family: 'Oswald', sans-serif !important;}
button:hover{background:#FF6700; color: #fff;}

#saudacao{padding-top:50px;}

/*MENU*/
#menu{background:#FF6700; font-family: 'Oswald', sans-serif;}
#menu-topo{padding:0;}
#menu a{background:#FF6700;color: #fff; font-size: 18px; font-weight:300 !important;}
#menu ul li {background:#FF6700;}
#menu ul li :hover{cursor: pointer;}
#menu li.dropdown a{background:#4B4B4D !important;color: #fff; }
#menu ul li ul{background:#4B4B4D;}
#menu ul li ul li a{border-bottom: solid 1px #888;}
#menu ul li ul li a:hover{background:#FF6700 !important;color:#fff  !important;}

#menu a:hover{background: #000; color: #fff;}
#menu li:hover{background: #000; color: #fff;}

#menu .active{background:#4B4B4D;color: #fff; }

/*NOTIFICAÇÕES*/
.notfbox{background: #fafaf1; clear: both; float: left;width: 100%; padding:0 15px;}

ul.notfic{padding:0;list-style: none;float: left;width: 100%;}
ul.notfic li{float: left;width: 100%;}
ul.notfic li a{margin:2px 0;text-decoration: none; border-bottom: solid 2px #FF6700; color: #000; float: left; width: 100%; padding: 5px;}


/*BUSCA*/
#busca{padding-top: 30px; padding-bottom: 10px;}
.busca_form{position: relative;}
.busca_form [type=text]{padding: 10px;border:solid 1px #848688; border-radius: 0;}
.busca_form button{background:url(../img/search.png) no-repeat center; width: 35px; height: 35px; font-size: 20px; color: #848688;}
.busca_form button:hover{color: #FF6700;}

button.b_av{background: none !important;color: #FF6700; font-size: 25px;padding: 0;}
button.b_av:hover{color: #333;}


/*FOOTER*/
#rodape{font-family: 'Oswald', sans-serif; font-weight: 300; background:#4B4B4D; padding-top: 20px; color: #fff; padding-bottom: 20px;}

/*PAGE*/
#page{padding-top: 20px; padding-bottom: 50px;}
#page h1{font-size: 25px;color:#201E1E; font-family: 'Oswald', sans-serif; font-weight: 300;}

#page h2{font-size: 25px;color:#201E1E; font-family: 'Oswald', sans-serif; font-weight: 300;}

#page h3{font-size: 25px;color:#201E1E; font-family: 'Oswald', sans-serif; font-weight: 300;}

#video_painel{padding-top: 30px;}


/*PERFIL*/
.info_perfil{list-style: none; float: left;width: 100%; padding: 0;}
.info_perfil li{float: left;width: 100%; padding: 10px 0; border-bottom: dashed 1px #ccc;}
.info_perfil li a{float: left;width: 100%;}

/*CONTATO*/
#formulario{width: 100%;padding-top: 20px; padding-bottom:50px; float: left;}
#formulario label{width: 100%;float: left;}
#formulario label.titulo_lab{padding-top: 10px;}
#formulario label.tresCol{width: 32.8%; float: left; margin-right: 5px;}
#formulario label.tresColR{width: 32.8%; float: right;}
#formulario label.mL{width: 49%; float: left;}
#formulario label.mR{width: 49%; float:right;}
#formulario label.cid{width: 69%; float: left;}
#formulario label.uf{width: 29%; float:right;}

#formulario [type=text]{width: 100%; padding: 10px;border:solid 1px #ccc;}
#formulario [type=email]{width: 100%; padding: 10px;border:solid 1px #ccc;}
#formulario [type=password]{width: 100%; padding: 10px;border:solid 1px #ccc;}
#formulario [type=file]{width: 100%; padding: 10px; border:solid 1px #ccc;}

#formulario textarea{border:solid 1px #ccc;min-width: 100%; max-width: 100%; min-height: 130px; max-height: 130px; padding: 10px;}
#formulario button{float: right; margin-left: 10px; margin-top: 10px;}

/*ANUNCIAR*/
p.info_p{padding: 20px; background: #fafaf1;}

.plano-loop p{padding: 20px; color: #fff;}
.plano-loop .bg-plus{background:#4B4B4D;padding:0;}
.plano-loop .bg-star{background:#333;padding:0;}
.plano-loop .bg-gold{background:#000;padding:0;}
.plano-loop h2{background:#FF6700; padding: 10px; text-align: center; font-size: 25px;color:#fff; font-family: 'Oswald', sans-serif; font-weight: 300;}
.plano-loop .valor{font-size: 40px; color: #FF6700; text-align: center;padding:0 0 10px 0; border-bottom: solid 1px #FF6700;}

#info_anunciar{padding-bottom: 50px; padding-top: 50px;}

h3.titulo_lab{padding-top: 15px; float: left; width: 100%;}
.ops{width: 100%; float: left;padding-bottom: 20px;}
.ops label{float: left; width: 25% !important;}

.previa_fotos{float: left;width: 100%; padding-top: 20px; padding-bottom: 20px;}
.previa_fotos img{border:solid 3px #ccc; border-radius: 5px; width:16.2%;}
.previa_fotos img:hover{border:solid 3px #FF6700;}

label.afirmo{padding-top: 20px;}

/*MEUS ANUNCIOS*/
.loop_anuncios_painel{border-bottom: solid 1px #ccc; float: left; width: 100%; padding: 15px 0;}
.loop_anuncios_painel button{width: 100%; height: 80px; font-size: 25px; padding: 10px; margin: 5px;}

/*RESPONSIVO*/
@media screen and (max-width: 768px){
#menu a{font-size: 16px;}
}

@media screen and (max-width: 480px){
body{overflow-x:hidden;}
#head{border-bottom: solid 3px #FF6700;}
#saudacao{padding-top: 10px; text-align: center;}
button.navbar-toggle{padding:5px !important; height:40px; color:#FF6700 !important;	position:absolute; top:-140px; right: 0; z-index: 999999 !important; background:none;}

#menu-topo{padding:0 10px;overflow-x:hidden;}

#page{padding-top: 20px; padding-bottom: 50px;}

#page h1{font-size:18px; font-weight: 400;}
#page h2{font-size:18px; font-weight: 400;;}
#page h3{font-size:18px; font-weight: 400;}

.bot_foot button{font-size:16px;}
.creditos{text-align: center !important;padding-top: 15px;}
.direitos{text-align: center;}

/*ADD ANUNCIO*/
.ops label{float: left; width: 50% !important;}

.previa_fotos a{float: left;margin:1%;  width:45%;}
.previa_fotos img{width: 100%; height: auto;}
.previa_fotos img:hover{border:solid 3px #FF6700;}
}

@media screen and (max-width: 375px){
button.navbar-toggle{padding:5px !important; height:40px; color:#FF6700 !important;	position:absolute; top:-110px; right: 0; z-index: 999999 !important; background:none;}

}
@media screen and (max-width: 320px){
button.navbar-toggle{padding:5px !important; height:40px; color:#FF6700 !important;	position:absolute; top:-120px; right: 0; z-index: 999999 !important; background:none;}
#acesso-topo{position: absolute; width: 100%; padding-top:40px;}
#acesso-topo button{font-size:8px !important; padding:5px;}
}
