/*
Site: Quem quer carro
Agência: CG Online > http://www.cgonline.com.br
Codificador: Paulo Anderson > http://criei.com.br

*/

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');
/*font-family: 'Oswald', sans-serif;*/

/*HTML*/
/*** Rolagem da Vertical da Página ***/
::-webkit-scrollbar-thumb:vertical {
background:#FF6700; /*Cor da barrinha que se move*/
border: 1px solid #bgh; /*Coloque borda se quiser*/
height:50px;

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
/*** Rolagem da Horizontal da Página***/
::-webkit-scrollbar-thumb:horizontal {
background-color: #FF6700; /*Cor da barrinha que se move*/
border: 1px solid #bgh; /*Coloque borda se quiser*/
height:10px;

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 }
/*** Parte fixa da rolagem (fundo que não se move) ***/
::-webkit-scrollbar {
height:10px;
width:10px; /*Largura da barra de rolagem*/
 background:#000; /*Cor da parte fixa, que fica no mundo*/
border: 1px solid #bgh; /*Coloque borda se quiser*/
}

*{
	margin:0;
}

a, button, span, strong, li, p, i, img{
	ransition-property:;
	transition-duration: 0.5s;
	-webkit-transition-property:; /* Safari */
	-webkit-transition-duration: 0.5s; /* Safari */
}

body{font-family: 'Arial', sans-serif; overflow-x: hidden;}
body p{font-family: 'Oswald', sans-serif; font-weight: 300; font-size: 18px;}
body p strong{ font-weight: 400;}
/*LOGIN*/
#modal{padding:5px; background:rgba(0, 0, 0, 0.8);}
.modal-content{padding: 3.5%;}
.modal-content 	h4{ font-family: 'Oswald', sans-serif; text-align: center; padding-top: 20px;}
.relembrar{padding:15px 5px;float: left;width:100%; font-family: 'Oswald', sans-serif;}

.input-group-addon{background:#FF6700 !important; color: #fff !important; }
.clear{clear: both;}
/*HEAD*/
#head{background: url(img/bg.jpg) #e2e3e4; background-size: cover; padding-top: 15px; padding-bottom: 15px;}
button{background: #ccc; color: #333; font-size: 18px; border:none; border-radius: 5px; padding: 10px 15px; font-family: 'Oswald', sans-serif !important;}
button:hover{background:#FF6700; color: #fff;}

/*MENU*/
#menu{background:#FF6700; font-family: 'Oswald', sans-serif;}
#menu-topo{padding:0;}
#menu a{background:#FF6700;color: #fff; font-size: 18px; font-weight:300 !important;}
#menu ul li {background:#FF6700;}

#menu li.dropdown a{background:#4B4B4D !important;color: #fff; }
#menu ul li ul{background:#4B4B4D;}
#menu ul li ul li a{border-bottom: solid 1px #888;}
#menu ul li ul li a:hover{background:#FF6700 !important;color:#fff  !important;}

#menu a:hover{background: #000; color: #fff;}
#menu li:hover{background: #000; color: #fff;}

#menu .active{background:#4B4B4D;color: #fff; }

li.encontre{font-weight:500 !important;}
li.encontre:hover{background:#FF6700 !important;}
li.encontre:hover a{background:#FF6700 !important;}

/*BUSCA*/
#busca{padding-top: 30px; padding-bottom: 10px;}/*HOME*/

.bg_lent{background: rgba(0, 0, 0, 0.8); padding-top:70px; padding-bottom:70px;}
#busca_avancada_box{ background:url(img/bg_form.jpg) center fixed #f2f2f2; background-size: cover; border-bottom: solid 2px #FF6700;}/*BUSCA AVANÇADA*/

.busca_form{position: relative;}
.busca_form [type=text]{padding: 10px;border:solid 0px #f2f2f2; border-radius: 3px; box-shadow: 0px 0px 3px; width: 100%; float: left; font-family: 'Arial', sans-serif;  color:#333;}
.busca_form [type=number]{padding: 10px;border:solid 0px #f2f2f2; border-radius: 3px; box-shadow: 0px 0px 3px; width: 100%; float: left; font-family: 'Arial', sans-serif;  color:#333;}
.busca_form select{padding: 11px 10px;border:solid 0px #f2f2f2; border-radius: 3px; box-shadow: 0px 0px 3px; width: 100% !important; float: left; font-family: 'Arial', sans-serif;  color:#333;}

.busca_form button{background:url(img/search.png) no-repeat center; width: 35px; height: 35px; font-size: 20px; color: #848688;}
.busca_form button:hover{color: #FF6700;}

.busca_form button.bav{background:#FF6700; color: #fff; width: auto; height: 40px; padding:0 10px; font-size: 20px; float:left; margin:25px 30px 0 30px;}
.busca_form button.bav:hover{background:#000; color: #fff;}

.busca_form button.bavP{background:#000; color: #fff; width: auto; height: 40px; padding:0 10px; font-size: 20px; float:left; margin:25px 30px 0 30px;}
.busca_form button.bavP:hover{background:#000; color: #FF6700;}


.busca_form label{width:100%; float:left; font-family: 'Oswald', sans-serif; font-weight: 400; font-size: 16px; color: #fff;}
.busca_form label.quatro{width: 24%; float:left;}
.busca_form label.quatroS{width: 24%; float:left;margin-left:1.3%;}

.busca_form label.meioL{width: 49%; float:left;}
.busca_form label.meioR{width: 49%; float:right;}

.variacao{float: left;width: 30%;}
.variacaoTipo{float: left;width:30%;margin-left: 2%;}

button.b_av{background: none !important;color: #FF6700; font-size: 25px;padding: 0;}
button.b_av:hover{color: #333;}


/*RESULTADO DA BUSCA*/
#box_carros{padding-top: 30px; padding-bottom: 30px;}
#box_carros h3{font-size: 25px;color:#201E1E; font-family: 'Oswald', sans-serif; font-weight: 300;}



/*CARROS HOME*/
#carroshome{padding-top:50px; padding-bottom: 20px;font-family: 'Oswald', sans-serif;}
.infocar{padding-top: 5px;}
p.carro{color:#FF6700; width: 60%; float: left; padding:5px 0; font-weight: 300; }
p.carro span{ font-size:22px;}
p.carro strong{color:#201E1E; font-size: 14px;}
p.preco{height: 50px;width: 40%; text-align: center; position: relative; float: right; background:#FF6700; padding: 15px; color: #fff;}
span.vl{position: absolute;z-index: 999;font-size:18px; width: 100%; left:0;}
span.diag{background:#FF6700;
	height: 50px; width: 50px;left:-8px; top:0px; position: absolute;
	  -webkit-transform: skew(-16deg);
      -ms-transform: skew(-16deg);
          transform: skew(-16deg);
}
.dastaquecar:hover{cursor: pointer;}
.dastaquecar:hover img{opacity:1.0;}
.dastaquecar:hover p.preco{background:#000;}
.dastaquecar:hover span.diag{background:#000;}

.loopcar:hover{cursor: pointer;}
.loopcar:hover img{opacity:1.0;}
.loopcar:hover p.preco{background:#000;}
.loopcar:hover span.diag{background:#000;}

.loopcar p.carro span{ font-size:15px !important;}
.loopcar p.carro strong{font-size: 10px !important;}
.loopcar span.vl{font-size:14px !important;}
/*FIM CARROS HOME TOPO*/

/*Publicidade*/
#pub_meio{padding-bottom:50px; padding-top:50px;}

/*BEM VINDO*/
#bem_vindo{	background:#4B4B4D;}

/*BUSCA AVANÇADA HOME*/
#busca_avancada{padding-top: 50px; padding-bottom: 50px;}
#busca_avancada h3{font-size: 25px;color:#FF6700; font-family: 'Oswald', sans-serif; font-weight: 300;}
.titulo{padding-bottom: 50px;}

button.mais{font-size:20px !important; background: none; font-family: 'Oswald', sans-serif; font-weight: 300; padding-top:30px;}
button.mais i{font-family: 'Oswald', sans-serif; font-weight:400; background: #000; color: #fff; border-radius: 100px; padding:1px;width: 30px; height: 30px; margin-left: 10px; position: relative; float: right; font-style: normal;}

button.mais:hover{color: #FF6700; padding-top:35px;}
button.mais:hover i{background:#FF6700;}

/*INSTAGRAM HOME*/
#instagram{background: url(img/bg.jpg) #e2e3e4; background-size: cover; padding-top: 50px;padding-bottom: 50px;}

#instagram h4{color:#373435; font-size: 25px; font-family: 'Oswald', sans-serif; font-weight: 300;}
#instagram h5{color:#373435; font-size: 25px; font-family: 'Oswald', sans-serif; font-weight: 300;}

.bot_foot{padding-top: 50px; padding-bottom: 50px;}
.bot_foot button{margin:0 0 10px 0; color:#373435 !important; font-size: 25px; font-family: 'Oswald', sans-serif; font-weight: 300; border:none; background:none !important;}
.bot_foot button:hover{ color:#FF6700 !important;}

/*FOOTER*/
#rodape{font-family: 'Oswald', sans-serif; font-weight: 300; background:#4B4B4D; padding-top: 20px; color: #fff; padding-bottom: 20px;}

/*PAGE*/
#page{padding-top: 20px; padding-bottom: 20px;}
#page h1{font-size: 25px;color:#201E1E; font-family: 'Oswald', sans-serif; font-weight: 300;}
#page h2{font-size: 25px;color:#201E1E; font-family: 'Oswald', sans-serif; font-weight: 300;}
#page h3{font-size: 25px;color:#201E1E; font-family: 'Oswald', sans-serif; font-weight: 300;}

#page p{font-family: 'Arial', sans-serif; font-size: 12px; }

#info_anuncio_box{padding-top: 50px;}

ul.info_carro{float:left;width: 100%; padding:20px 0; list-style:none; border-bottom: solid 1px #f2f2f2; border-top: solid 1px #f2f2f2;}
ul.info_carro li{float: left; width: 33.333%;}
ul.info_carro strong{font-weight: bold;}

#t_anuncio{}
#t_anuncio h1{font-size: 25px;color:#201E1E; font-family: 'Oswald', sans-serif; font-weight:400; text-transform: uppercase;}
#t_anuncio p{font-size: 15px;color:#201E1E; font-family: 'Oswald', sans-serif; font-weight:300;}



/*SIDEBAR R*/
#sidebar{}
#widget_sid{ font-family: 'Oswald', sans-serif; font-weight:300; padding:20px; margin-top: 15px; margin-bottom: 15px; border:solid 1px #f2f2f2; border-radius: 5px;}
#widget_sid p{font-family: 'Oswald', sans-serif; font-weight:300; border-bottom:solid 1px #f2f2f2; padding-bottom: 10px;font-size: 16px;}
#widget_sid strong{font-family: 'Oswald', sans-serif; font-weight:400; font-size: 18px;}
#widget_sid span{font-family: 'Oswald', sans-serif; font-weight:300; padding-bottom: 10px;font-size:20px; padding-bottom: 10px; width: 100%; float:left;}

#widget_sid button.whats{background:#4AC959; color: #fff; padding: 15px 15px; width: 100%; text-align: center;font-family: 'Oswald', sans-serif; font-weight:400; font-size: 20px;
background-image: -webkit-gradient(linear, left top, left bottom, from(#4AC959), to(#4AC959));
	background-image: -webkit-linear-gradient(top, #4AC959, #29B53F);
	background-image: -moz-linear-gradient(top, #4AC959, #29B53F);
	background-image: -o-linear-gradient(top, #4AC959, #29B53F);
	background-image: linear-gradient(to bottom, #4AC959, #29B53F);
}
#widget_sid button.whats:hover{background:#29B53F;}

#widget_sid_pub{padding:20px; margin-top: 15px; margin-bottom: 15px;}
#widget_sid_pub img{width: 100%; height: auto;}

#info_vendedor{background:rgba(0,0,0,.03); border-radius: 5px;}
#info_vendedor h3{font-size:45px; font-weight:400 !important; color:#201E1E; font-family: 'Oswald', sans-serif; font-weight: 300;}
#info_vendedor h4{font-size:18px; font-weight: 400; color:#201E1E; font-family: 'Oswald', sans-serif; font-weight: 300;}

p.nome_vend strong{font-weight: bold;}
#form_anuncio_mens {padding-bottom: 20px;}
#form_anuncio_mens label{float: left; width: 100%; margin-bottom:10px;}
#form_anuncio_mens [type=text]{width: 100%; float: left; padding: 10px; border:none; font-weight:normal; font-family: 'Arial', sans-serif;}
#form_anuncio_mens [type=email]{width: 100%; float: left; padding: 10px; border:none; font-weight:normal; font-family: 'Arial', sans-serif;}
#form_anuncio_mens textarea{min-width: 100%;max-width: 100%; min-height: 100px; max-height: 100px; float: left; padding: 10px; border:none; font-weight:normal; font-family: 'Arial', sans-serif;}
label.receb_info{padding-bottom: 10px; padding-top: 10px;}
#form_anuncio_mens button{width: 100%; color:#fff; font-size: 20px;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6700), to(#FF6700));
	background-image: -webkit-linear-gradient(top, #FF6700, #B94A00);
	background-image: -moz-linear-gradient(top, #FF6700, #B94A00);
	background-image: -o-linear-gradient(top, #FF6700, #B94A00);
	background-image: linear-gradient(to bottom, #FF6700, #B94A00);}
#form_anuncio_mens button:hover{width: 100%; background: #000; color:#fff;}


/*CONTATO*/
#formulario{width: 100%;padding-top: 20px; padding-bottom:50px; float: left;}
#formulario label{width: 100%;float: left;}
#formulario h3.titulo_lab{padding-top: 15px; float: left; width: 100%;}

#formulario label.mL{width: 49%; float: left;}
#formulario label.mR{width: 49%; float:right;}
#formulario label.tresCol{width: 33%; float: left;}
#formulario label.cid{width: 69%; float: left;}
#formulario label.uf{width: 29%; float:right;}

#formulario [type=text]{width: 100%; padding: 10px;}
#formulario [type=email]{width: 100%; padding: 10px;}
#formulario [type=password]{width: 100%; padding: 10px;}
#formulario textarea{min-width: 100%; max-width: 100%; min-height: 130px; max-height: 130px; padding: 10px;}
#formulario button{float: right;}

/*ANUNCIAR*/
p.info_p{padding: 20px; background: #fafaf1;}

.plano-loop p{padding: 20px; color: #fff;}
.plano-loop .bg-plus{background:#4B4B4D;padding:0;}
.plano-loop .bg-star{background:#333;padding:0;}
.plano-loop .bg-gold{background:#000;padding:0;}
.plano-loop h2{background:#FF6700; padding: 10px; text-align: center; font-size: 25px;color:#fff; font-family: 'Oswald', sans-serif; font-weight: 300;}
.plano-loop .valor{font-size: 40px !important; color: #FF6700; text-align: center;padding:0 0 10px 0; border-bottom: solid 1px #FF6700;}
.plano-loop img{text-align: center;}

#info_anunciar{padding-bottom: 50px; padding-top: 50px;}


/*RESPONSIVO*/
@media screen and (max-width: 768px){
#menu a{font-size: 14px;}

/*BUSCA AVANÇADA*/
.busca_form button.bav{font-size: 20px; float:left; margin:25px 0 0 10px;}
.busca_form button.bavP{font-size: 20px; float:right; margin:25px 0 0 0px;}

}

@media screen and (max-width: 480px){
body{overflow-x:hidden;}
#head{border-bottom: solid 3px #FF6700;}
#acesso-topo{padding-top:60px;}
#acesso-topo button{font-size: 10px;}
button.navbar-toggle{padding:5px !important; height:40px; color:#FF6700 !important;	position:absolute; top:-130px; right: 0; z-index: 999999 !important; background:none;}

#menu-topo{padding:0 10px;overflow-x:hidden;}
li.encontre{display: none !important;}

/*BUSCA AVANÇADA*/
.busca_form button.bav{font-size: 20px; float:right; margin:15px 0 0 10px;}
.busca_form button.bavP{font-size: 20px; float:right; margin:15px 0 0 0px;}

.busca_form label.quatro{width:49%; float:left;}
.busca_form label.quatroS{width:49%; float:left;margin-left:1.3%;}
.busca_form label.quatroSmob{width:49%; float:left;margin-left:0;}

.variacao{float: left;width: 69%;}
.variacaoTipo{float: left;width:29%;margin-left: 2%;}

/*FIM BUSCA AVANCADA*/

/*PREÇO LOOP*/
.loopcar{padding-bottom: 20px;}
.loopcar p.carro{width: 100%; text-align: center;}
.loopcar p.carro span{  font-size:15px !important;}
.loopcar p.carro strong{ font-size: 10px !important;}
.loopcar p.preco{width: 100%; height: auto;padding:5px;}
.loopcar span.vl{font-size:14px !important; height: auto; position: relative;}
 span.diag{display: none;}
/*FIM PREÇO LOOP*/

.bot_foot button{font-size:16px;}
.creditos{text-align: center !important;padding-top: 15px;}
.direitos{text-align: center;}

/*ANUNCIO*/
ul.info_carro{border-bottom: none;}
ul.info_carro li{float: left; width: 50%; border-bottom: solid 1px #f2f2f2; padding: 5px;}
/*ANUNCIO FIM*/
}
@media screen and (max-width: 375px){
button.navbar-toggle{padding:5px !important; height:40px; color:#FF6700 !important;	position:absolute; top:-110px; right: 0; z-index: 999999 !important; background:none;}

	#acesso-topo{position: absolute; width: 100%; padding-top:50px;}
	#acesso-topo button{font-size:8px;}
}
@media screen and (max-width: 320px){
button.navbar-toggle{padding:5px !important; height:40px; color:#FF6700 !important;	position:absolute; top:-100px; right: 0; z-index: 999999 !important; background:none;}
#acesso-topo{position: absolute; width: 100%; padding-top:40px;}
#acesso-topo button{font-size:8px !important; padding:5px;}
}
