<footer class="section" id="rodape">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 direitos">
                <br>
                Quem quer carro?
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 text-right creditos">
                <a href="http://www.cakephp.org/">
                    <img src="http://www.cakephp.org/img/flags/Baked-with-CakePHP.png" width="100px;">
                </a>
                <a href="http://www.cgonline.com.br" target="_black" style="margin-right: 10px">
                    <img src="http://www.cgonline.com.br/assinatura/cgonline_branca.png" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
