<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Painel - Quem quer carro?</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <!-- All the files that are required -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <?= $this->Html->css('admin/login.css') ?>

        <script type="text/javascript">
            (function ($) {
                "use strict";

                // Options for Message
                //----------------------------------------------
                var options = {
                    'btn-loading': '<i class="fa fa-spinner fa-pulse"></i>',
                    'btn-success': '<i class="fa fa-check"></i>',
                    'btn-error': '<i class="fa fa-remove"></i>',
                    'msg-success': 'All Good! Redirecting...',
                    'msg-error': 'Wrong login credentials!',
                    'useAJAX': true,
                };

                // Login Form
                //----------------------------------------------
                // Validation
                $("#login-form").validate({
                    rules: {
                        lg_username: "required",
                        lg_password: "required",
                    },
                    errorClass: "form-invalid"
                });

                // Form Submission
                $("#login-form").submit(function () {
                    remove_loading($(this));

                    if (options['useAJAX'] == true) {
                        // Dummy AJAX request (Replace this with your AJAX code)
                        // If you don't want to use AJAX, remove this
                        dummy_submit_form($(this));

                        // Cancel the normal submission.
                        // If you don't want to use AJAX, remove this
                        return false;
                    }
                });

                // Register Form
                //----------------------------------------------
                // Validation
                $("#register-form").validate({
                    rules: {
                        reg_username: "required",
                        reg_password: {
                            required: true,
                            minlength: 5
                        },
                        reg_password_confirm: {
                            required: true,
                            minlength: 5,
                            equalTo: "#register-form [name=reg_password]"
                        },
                        reg_email: {
                            required: true,
                            email: true
                        },
                        reg_agree: "required",
                    },
                    errorClass: "form-invalid",
                    errorPlacement: function (label, element) {
                        if (element.attr("type") === "checkbox" || element.attr("type") === "radio") {
                            element.parent().append(label); // this would append the label after all your checkboxes/labels (so the error-label will be the last element in <div class="controls"> )
                        } else {
                            label.insertAfter(element); // standard behaviour
                        }
                    }
                });

                // Form Submission
                $("#register-form").submit(function () {
                    remove_loading($(this));

                    if (options['useAJAX'] == true) {
                        // Dummy AJAX request (Replace this with your AJAX code)
                        // If you don't want to use AJAX, remove this
                        dummy_submit_form($(this));

                        // Cancel the normal submission.
                        // If you don't want to use AJAX, remove this
                        return false;
                    }
                });

                // Forgot Password Form
                //----------------------------------------------
                // Validation
                $("#forgot-password-form").validate({
                    rules: {
                        fp_email: "required",
                    },
                    errorClass: "form-invalid"
                });

                // Form Submission
                $("#forgot-password-form").submit(function () {
                    remove_loading($(this));

                    if (options['useAJAX'] == true) {
                        // Dummy AJAX request (Replace this with your AJAX code)
                        // If you don't want to use AJAX, remove this
                        dummy_submit_form($(this));

                        // Cancel the normal submission.
                        // If you don't want to use AJAX, remove this
                        return false;
                    }
                });

                // Loading
                //----------------------------------------------
                function remove_loading($form) {
                    $form.find('[type=submit]').removeClass('error success');
                    $form.find('.login-form-main-message').removeClass('show error success').html('');
                }

                function form_loading($form) {
                    $form.find('[type=submit]').addClass('clicked').html(options['btn-loading']);
                }

                function form_success($form) {
                    $form.find('[type=submit]').addClass('success').html(options['btn-success']);
                    $form.find('.login-form-main-message').addClass('show success').html(options['msg-success']);
                }

                function form_failed($form) {
                    $form.find('[type=submit]').addClass('error').html(options['btn-error']);
                    $form.find('.login-form-main-message').addClass('show error').html(options['msg-error']);
                }

                // Dummy Submit Form (Remove this)
                //----------------------------------------------
                // This is just a dummy form submission. You should use your AJAX function or remove this function if you are not using AJAX.
                function dummy_submit_form($form) {
                    if ($form.valid()) {
                        form_loading($form);

                        setTimeout(function () {
                            form_success($form);
                        }, 2000);
                    }
                }

            })(jQuery);
        </script>
    </head>

    <body>
        <?= $this->fetch('content') ?>
    </body>

</html>